<% provide :title, t('.title') %>

<%= form_for [current_user, current_project, @multiple_units], validate: true, url: user_project_multiple_units_path(current_user, current_project, @multiple_units, locale: "pt-BR") do |f| %>
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-8 large-offset-2 columns">
      <div class="panel form-panel">
        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns text-center">
            <h4><strong><%= t('.form_title') %></strong></h4>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :quantity %>
          <div class="small-12 medium-12 large-12 columns">
            <%= f.number_field :quantity, autofocus: true %>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :name %>
          <div class="small-12 medium-12 large-12 columns">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <small>
              <div class="multiple-units-name-explanation">
                <%= t('.multiple_units_name_explanation') %>
              </div>
            </small>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :private_area %>
          <div class="small-9 medium-9 large-9 columns">
            <%= f.number_field :private_area, step: 'any', value: number_with_precision(f.object.private_area, precision: 2, separator: '.') %>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">m²</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :common_area %>
          <div class="small-9 medium-9 large-9 columns">
            <%= f.number_field :common_area, step: 'any', value: number_with_precision(f.object.common_area, precision: 2, separator: '.') %>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">m²</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :box_area %>
          <div class="small-9 medium-9 large-9 columns">
            <%= f.number_field :box_area, step: 'any', value: number_with_precision(f.object.box_area, precision: 2, separator: '.') %>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">m²</span>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <%= f.check_box :exchanged, validate: false %>
            <%= f.label :exchanged %>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <%= button_tag(type: 'submit', class: "button expand") do %>
             <%= icon 'check' %>
             <%= t('.submit') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>