<% provide :title, t('.title') %>

<%= render 'shared/logo' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
      <div class="panel">
        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns text-center">
            <h4><%= t('.form_title') %></h4>
          </div>
        </div>

        <%= f.hidden_field :reset_password_token %>

        <% if resource.errors[:reset_password_token].any?  %>
          <div class="row collapse">
            <div class="small-12 medium-12 large-12 columns text-center">
              <div data-alert class="alert-box alert">
                <%= resource.errors.full_messages_for(:reset_password_token).first %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row collapse">
          <div class="small-2 medium-2 large-1 columns">
            <span class="prefix field-icon fi-lock"></span>
          </div>
          <div class="small-10 medium-10 large-11 columns">
              <%= f.password_field :password, placeholder: t('.password_field_placeholder'), autofocus: true, autocomplete: "off" %>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-2 medium-2 large-1 columns">
            <span class="prefix field-icon fi-lock"></span>
          </div>
          <div class="small-10 medium-10 large-11 columns">
            <div class="<%= "error" if resource.errors[:password_confirmation].any? %>">
              <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation_field_placeholder'), autocomplete: "off" %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <%= f.submit t('.submit'), class: "button expand" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>