<span data-selling-price-url="<%= selling_price_user_project_sensitivity_analyses_path %>"></span>

<%= form_for [current_user, current_project, @sensitivity_analysis] do |f| %>
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-8 large-offset-2 columns">
      <div class="panel form-panel">
        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns text-center">
            <h4><strong><%= t('.form_title') %></strong></h4>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
              <h6><%= t('.project') %></h6>
              <p class="new-sensitivity-analysis-label"><strong><%= current_project.name %></strong></p>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
              <h6><%= t('.units') %></h6>
              <p class="new-sensitivity-analysis-label"><strong><%= current_project.units.count %></strong></p>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :name %>
          <div class="small-12 medium-12 large-12 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:name].any? %>">
              <%= f.text_field :name, autofocus: true %>

              <% if @sensitivity_analysis.errors[:name].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:name).first %></small>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :net_profit_margin %>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:net_profit_margin].any? %>">
              <%= f.number_field :net_profit_margin, step: 'any', data: { update_selling_price: true, net_profit_margin: true } %>

              <% if @sensitivity_analysis.errors[:net_profit_margin].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:net_profit_margin).first %></small>
              <% end %>
            </div>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">%</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :sales_commissions_rate %>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:sales_commissions_rate].any? %>">
              <%= f.number_field :sales_commissions_rate, step: 'any', data: { update_selling_price: true, sales_commissions_rate: true } %>

              <% if @sensitivity_analysis.errors[:sales_commissions_rate].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:sales_commissions_rate).first %></small>
              <% end %>
            </div>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">%</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :sales_taxes_rate %>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:sales_taxes_rate].any? %>">
              <%= f.number_field :sales_taxes_rate, step: 'any', data: { update_selling_price: true, sales_taxes_rate: true } %>

              <% if @sensitivity_analysis.errors[:sales_taxes_rate].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:sales_taxes_rate).first %></small>
              <% end %>
            </div>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">%</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :sales_charges_rate %>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:sales_charges_rate].any? %>">
              <%= f.number_field :sales_charges_rate, step: 'any', data: { update_selling_price: true, sales_charges_rate: true } %>

              <% if @sensitivity_analysis.errors[:sales_charges_rate].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:sales_charges_rate).first %></small>
              <% end %>
            </div>
          </div>
          <div class="small-3 medium-3 large-3 columns">
            <span class="postfix">%</span>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :individualization_costs %>
          <div class="small-3 medium-3 large-3 columns">
            <span class="prefix"><%= t('.currency') %></span>
          </div>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:individualization_costs].any? %>">
              <%= f.number_field :individualization_costs, step: 'any', data: { update_selling_price: true, individualization_costs: true } %>

              <% if @sensitivity_analysis.errors[:individualization_costs].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:individualization_costs).first %></small>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :cost_per_square_meter %>
          <div class="small-3 medium-3 large-3 columns">
            <span class="prefix"><%= t('.currency') %></span>
          </div>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:cost_per_square_meter].any? %>">
              <%= f.number_field :cost_per_square_meter, step: 'any', data: { update_selling_price: true, cost_per_square_meter: true } %>

              <% if @sensitivity_analysis.errors[:cost_per_square_meter].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:cost_per_square_meter).first %></small>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :land_acquisition_cost %>
          <div class="small-3 medium-3 large-3 columns">
            <span class="prefix"><%= t('.currency') %></span>
          </div>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:land_acquisition_cost].any? %>">
              <%= f.number_field :land_acquisition_cost, step: 'any', data: { update_selling_price: true, land_acquisition_cost: true } %>

              <% if @sensitivity_analysis.errors[:land_acquisition_cost].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:land_acquisition_cost).first %></small>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <%= f.label :exchanged_units_expenses %>
          <div class="small-3 medium-3 large-3 columns">
            <span class="prefix"><%= t('.currency') %></span>
          </div>
          <div class="small-9 medium-9 large-9 columns">
            <div class="<%= "error" if @sensitivity_analysis.errors[:exchanged_units_expenses].any? %>">
              <%= f.number_field :exchanged_units_expenses, step: 'any', data: { update_selling_price: true, exchanged_units_expenses: true } %>

              <% if @sensitivity_analysis.errors[:exchanged_units_expenses].any? %>
                <small class="error"><%= @sensitivity_analysis.errors.full_messages_for(:exchanged_units_expenses).first %></small>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns text-center">
            <h4><strong><%= t('.units_form_title') %></strong></h4>
          </div>
        </div>

        <% @sensitivity_analysis.unit_sensitivity_analyses.each do |unit_sensitivity_analysis| %>
          <%= f.fields_for :unit_sensitivity_analyses, unit_sensitivity_analysis do |unit_sensitivity_analysis_form| %>
            <%= unit_sensitivity_analysis_form.hidden_field :unit_id %>

            <div class="row collapse">
              <div class="small-12 medium-12 large-12 columns unit-name">
                <%= unit_sensitivity_analysis.unit.name %>
              </div>
            </div>

            <div class="row collapse">
              <%= label_tag :selling_price, t('.selling_price') %>
              <div class="small-3 medium-3 large-3 columns">
                <span class="prefix"><%= t('.currency') %></span>
              </div>
              <div class="small-9 medium-9 large-9 columns">
                <%= number_field_tag :selling_price, "0.00", step: 'any', disabled: true, data: { unit: unit_sensitivity_analysis.unit.id } %>
              </div>
            </div>

            <div class="row collapse">
              <%= unit_sensitivity_analysis_form.label :sale_price %>
              <div class="small-3 medium-3 large-3 columns">
                <span class="prefix"><%= t('.currency') %></span>
              </div>
              <div class="small-9 medium-9 large-9 columns">
                <%= unit_sensitivity_analysis_form.number_field :sale_price, step: 'any' %>
              </div>
            </div>

            <hr>
          <% end %>
        <% end %>

        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <%= button_tag(type: 'submit', class: "button expand") do %>
             <%= icon 'check' %>
             <%= t('.submit') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>