<div class="row collapse">
  <div class="small-12 medium-12 large-12 project columns">
    <%= link_to user_project_sensitivity_analysis_path(current_user, current_project, sensitivity_analysis) do %>
      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <div class="sensitivity-analysis-name">
            <%= sensitivity_analysis.name %>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <%= icon 'warning' %>
          <%= t('.incomplete_analysis') %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="stack button-group project-buttons-stack">
      <li>
        <%= link_to('#', class: 'button expand') do %>
          <%= icon 'pie-chart' %>
          <%= t('.charts') %>
        <% end %>
      </li>
      <li>
        <%= link_to(report_user_project_sensitivity_analysis_path(current_user, current_project, sensitivity_analysis), class: 'button expand') do %>
          <%= icon 'file-text' %>
          <%= t('.report') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <% if current_project.sensitivity_analyses.last != sensitivity_analysis %>
      <hr>
    <% end %>
  </div>
</div>