<div class="row collapse">
  <div class="small-12 medium-12 large-12 project columns">
    <%= link_to user_project_path(current_user, project) do %>
      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <div class="project-name">
            <%= project.name %>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <% if project.units.count == 0 %>
            <%= icon 'warning' %> <%= t('.no_units') %>
          <% elsif project.units.count == 1 %>
            <%= "#{project.units.count} #{t('.unit')}" %>
          <% else %>
            <%= "#{project.units.count} #{t('.units')}" %>
          <% end %>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <%= icon 'warning' %>
          <%= t('.no_analysis') %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns sensitivity-analisys-button">
    <%= link_to(user_project_sensitivity_analyses_path(current_user, project), class: 'button expand') do %>
      <%= icon 'bar-chart' %>
      <%= t('.sensitivity_analyses') %>
    <% end %>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <% if @projects.last != project %>
      <hr>
    <% end %>
  </div>
</div>