<% provide :title, t('.title') %>

<% if @projects.count > 0 || params[:search] %>
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 large-8 large-offset-2 columns">
      <div class="panel form-panel">
        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns text-center">
            <h4><strong><%= t('.title') %></strong></h4>
          </div>
        </div>

        <%= form_tag(user_projects_path(current_user), method: 'get') do %>
          <div class="row collapse">
            <div class="small-10 medium-10 large-11 columns">
              <%= text_field_tag :search, params[:search], placeholder: t('.search_field_placeholder') %>
            </div>
            
            <div class="small-2 medium-2 large-1 columns">
              <%= button_tag(type: 'submit', id: 'search-button', class: 'button postfix', name: nil) do %>
                  <%= icon 'search', class: 'button-icon-small' %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @projects.count == 0 %>
          <div class="row collapse">
            <div class="small-12 medium-12 large-12 columns text-center">
              <p><%= t('.no_projects_found') %></p>
            </div>
          </div>
        <% end %>

        <%= render @projects %>
        
        <div class="row collapse">
          <div class="small-12 medium-12 large-12 columns">
            <%= will_paginate @projects, renderer: FoundationPagination::Rails %>            
          </div>
        </div>        
      </div>
    </div>
<% else %>
  <div class="row">
    <div class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns text-center">
      <h3 class="empty-projects-text"><%= t('.empty_projects') %></h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 medium-offset-4 large-4 large-offset-4 columns text-center">
      <%= link_to(new_user_project_path(current_user), class: 'button expand') do %>
        <%= icon 'plus' %>
        <%= t('.new_project_button') %>
      <% end %>
    </div>
  </div>
<% end %>
