<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <div class="unit-name">
      <%= unit.name %>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <div class="unit-information">
      Área Privativa: <%= unit.private_area %>
    </div>
  </div>      
</div> 

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <div class="unit-information">
      Área Comum: <%= unit.common_area %>
    </div>
  </div>
</div> 

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <div class="unit-information">
      Área de Box: <%= unit.box_area %>
    </div>
  </div>
</div> 

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <div class="unit-information">
      Área Total: <%= unit.total_area %>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 medium-12 large-12 columns">
    <%= check_box_tag :exchanged, 1, unit.exchanged, disabled: true %>
    <%= label_tag :exchanged, "Unidade Permutada" %>
  </div>
</div>
