<% provide :title, @unit.name %>

<div class="row">
  <div class="small-12 medium-8 medium-offset-2 large-8 large-offset-2 columns">
    <div class="panel form-panel">
      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns text-center">
          <h4><strong><%= t('.form_title') %></strong></h4>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
            <h6><strong><%= t('.name') %></strong></h6>
            <p class="unit-label"><%= @unit.name %></p>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
            <h6 class="unit-label"><strong><%= t('.private_area') %></strong></h6>
            <p class="unit-label"><%= number_with_precision(@unit.private_area, precision: 2, separator: '.') %> m²</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
            <h6 class="unit-label"><strong><%= t('.common_area') %></strong></h6>
            <p class="unit-label"><%= number_with_precision(@unit.common_area, precision: 2, separator: '.') %> m²</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
            <h6 class="unit-label"><strong><%= t('.box_area') %></strong></h6>
            <p class="unit-label"><%= number_with_precision(@unit.box_area, precision: 2, separator: '.') %> m²</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
            <h6 class="unit-label"><strong><%= t('.exchanged') %></strong></h6>
            <p class="unit-label"><%= if @unit.exchanged then t('.exchanged_yes') else t('.exchanged_no') end %></p>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-12 medium-12 large-12 columns">
          <ul class="stack button-group">
            <li>
              <%= link_to(edit_user_project_unit_path(current_user, current_project, @unit), class: 'button expand edit-project-button') do %>
                <%= icon 'pencil' %>
                <%= t('.edit_button') %>
              <% end %>
            </li>
            <li>
              <%= link_to(user_project_unit_path(current_user, current_project, @unit), method: :delete, data: { confirm: t('.delete_question') }, class: 'button expand') do %>
                <%= icon 'trash' %>
                <%= t('.delete_button') %>
              <% end %>
            </li>
            <li>
              <%= link_to(user_project_path(current_user, current_project), class: 'button expand') do %>
                <%= icon 'arrow-left' %>
                <%= t('.back_button') %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

