<div id="helpModal" class="reveal-modal hide-for-print" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Ajuda</h2>

  <!-- User Projects -->
  <% if current_page?(user_projects_path(current_user)) %>
    <p class="lead"><%= t('.my_projects_title') %></p>
    <p><%= t('.my_projects_help') %></p>
  <% end %>

  <!-- New User Project -->
  <% if (controller.controller_name == "projects" && controller.action_name == "new") ||
        (controller.controller_name == "projects" && controller.action_name == "create") %>
    <p class="lead"><%= t('.new_project_title') %></p>
    <p><%= t('.new_project_help') %></p>
  <% end %>

  <!-- Show User Project -->
  <% if controller.controller_name == "projects" && controller.action_name == "show" %>
    <p class="lead"><%= t('.show_project_title') %></p>
    <p><%= t('.show_project_help') %></p>
  <% end %>

  <!-- Edit User Project -->
  <% if (controller.controller_name == "projects" && controller.action_name == "edit")||
        (controller.controller_name == "projects" && controller.action_name == "update") %>
    <p class="lead"><%= t('.edit_project_title') %></p>
    <p><%= t('.edit_project_help') %></p>
  <% end %>

  <!-- New User Project Unit -->
  <% if (controller.controller_name == "units" && controller.action_name == "new") ||
        (controller.controller_name == "units" && controller.action_name == "create") %>
    <p class="lead"><%= t('.new_unit_title') %></p>
    <p><%= t('.new_unit_help') %></p>
  <% end %>

  <!-- Copy Unit -->
  <% if controller.controller_name == "units" && controller.action_name == "index" %>
    <p class="lead"><%= t('.copy_unit_title') %></p>
    <p><%= t('.copy_unit_help') %></p>
  <% end %>

  <!-- New User Project Multiple Units -->
  <% if (controller.controller_name == "multiple_units" && controller.action_name == "new") ||
        (controller.controller_name == "multiple_units" && controller.action_name == "create") %>
    <p class="lead"><%= t('.new_multiple_units_title') %></p>
    <p><%= t('.new_multiple_units_help') %></p>
  <% end %>

  <!-- Show User Project Unit -->
  <% if controller.controller_name == "units" && controller.action_name == "show" %>
    <p class="lead"><%= t('.show_unit_title') %></p>
    <p><%= t('.show_unit_help') %></p>
  <% end %>

  <!-- Edit User Project Unit -->
  <% if (controller.controller_name == "units" && controller.action_name == "edit")||
        (controller.controller_name == "units" && controller.action_name == "update") %>
    <p class="lead"><%= t('.edit_unit_title') %></p>
    <p><%= t('.edit_unit_help') %></p>
  <% end %>

  <!-- User Project Sensitivity Analyses -->
  <% if controller.controller_name == "sensitivity_analyses" && controller.action_name == "index" %>
    <p class="lead"><%= t('.sensitivity_analyses_title') %></p>
    <p><%= t('.sensitivity_analyses_help') %></p>
  <% end %>

  <!-- New User Project Sensitivity Analysis -->
  <% if (controller.controller_name == "sensitivity_analyses" && controller.action_name == "new") ||
        (controller.controller_name == "sensitivity_analyses" && controller.action_name == "create") %>
    <p class="lead"><%= t('.new_sensitivity_analysis_title') %></p>
    <p><%= t('.new_sensitivity_analysis_help') %></p>
  <% end %>

  <!-- Show User Project Sensitivity Analysis -->
  <% if controller.controller_name == "sensitivity_analyses" && controller.action_name == "show" %>
    <p class="lead"><%= t('.show_sensitivity_analysis_title') %></p>
    <p><%= t('.show_sensitivity_analysis_help') %></p>
  <% end %>

  <!-- Edit User Project Sensitivity Analysis -->
  <% if (controller.controller_name == "sensitivity_analyses" && controller.action_name == "edit") ||
        (controller.controller_name == "sensitivity_analyses" && controller.action_name == "update") %>
    <p class="lead"><%= t('.edit_sensitivity_analysis_title') %></p>
    <p><%= t('.edit_sensitivity_analysis_help') %></p>
  <% end %>

  <!-- Report User Project Sensitivity Analysis -->
  <% if (controller.controller_name == "sensitivity_analyses" && controller.action_name == "report") %>
    <p class="lead"><%= t('.report_title') %></p>
    <p><%= t('.report_help') %></p>
  <% end %>

  <!-- Charts User Project Sensitivity Analysis -->
  <% if (controller.controller_name == "sensitivity_analyses" && controller.action_name == "charts") %>
    <p class="lead"><%= t('.charts_title') %></p>
    <p><%= t('.charts_help') %></p>
  <% end %>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>