<ul id="drop" class="f-dropdown">
  <li>
    <a data-reveal-id="helpModal">
      <%= icon 'question' %>
      <%= t('.help_icon_label') %>
    </a>
  </li>

  <li>
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <%= icon 'sign-out' %>
      <%= t('.sign_out_icon_label') %>
    <% end %>    
  </li>
</ul> 