<%= link_to(user_projects_path(current_user), 
            class: "item #{current_page?(user_projects_path(current_user)) ? "active disabled" : ""}", 
            title: 'Meus Empreendimentos') do %>
  <%= icon 'building' %>
  <label class="show-for-medium-up">Empreendimentos</label>
<% end %>

<% if current_page?(user_projects_path(current_user)) || 
      current_page?(new_user_project_path(current_user)) ||
      (@project && @project.errors.any?) %>
  <%= link_to(new_user_project_path(current_user), 
              class: "item #{current_page?(new_user_project_path(current_user)) || 
                             (@project && @project.errors.any?) ? "active disabled" : ""}", 
              title: 'Novo Empreendimento') do %>
    <%= icon 'plus' %>
    <label class="show-for-medium-up">Novo</label>
  <% end %>
<% end %>

<%= link_to(destroy_user_session_path, :method => :delete, class: 'item right', title: 'Sair') do %>
  <%= icon 'sign-out' %>
  <label class="show-for-medium-up">Sair</label>
<% end %>    

<a class="item right" title="Ajuda" data-reveal-id="helpModal">
  <%= icon 'question' %>
  <label class="show-for-medium-up">Ajuda</label>
</a>

<%= render 'layouts/helpmodal' %>